<app-layout title="Jordan's first marko project">
    <main>
      <button onclick(() => alert('click'))>button</button>
      <searchField label="GIF search" placeholderText="Search for GIFs" callback=searchCallback/>
      <searchResults/>
      
    </main>
</app-layout>

$ function searchCallback(query) {
  alert(query);
}